.logop-css{
    width: 65px;
    border-radius: 10px;
    margin: 6px;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 22px;
    border-color: transparent;
    color: var(--cor-4);
    
    
}

.navbar-container{
    height: 11%;
    display:flex;
    background-color: var(--cor-4);
    justify-content: center;
    align-items: center;
}

.divLogo{
    height: 90%;
    width: 90%;
    
}