@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.div-user{
    background-color: var(--cor-2);
    height: 87.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-image: url('../assets/background-dark.png');
    background-size: 1250px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.dark .div-user {
    background-color: var(--cor-1);
    height: 87.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background-light.png');
    background-size: 1250px;

}

.principal-user-div {
    background-color: var(--cor-1);
    height: 80%;
    width: 80%;
    display: flex;
    -webkit-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);  
    border-radius: 25px;
    transition: 0.5s;
}

.dark .principal-user-div {
    background-color: var(--cor-2);
    height: 80%;
    width: 80%;
    display: flex;
    -webkit-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);  
    border-radius: 25px;
}

.p-esquerda{
    height: 100%;
    width: 50%;
    background-color: var(--cor-1);
    transition: 0.5s;
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
}

.dark .p-esquerda{
    height: 100%;
    width: 50%;
    background-color: var(--cor-2);
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
}

.foto-usuario {
    background-image: url('../assets/user_light.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    transition: 0.5s;
    
}

.dark .foto-usuario {
    background-image: url('../assets/user_dark.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s;
}

.dark .info-usuario {
    background-color: var(--cor-2);
    height: 30%;
    justify-content: center;
    align-items: end;
    display: flex;

}



.nome-usuario {
    background-color: var(--cor-1);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.dark .nome-usuario {
    background-color: var(--cor-2);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


.nome-usuario p{
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-2);
    transition: 0.5s;

}

.dark .nome-usuario p{
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-1);
    transition: 0.5s;

}



.input-usuario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Espaço entre os grupos de inputs */
    margin-left: 15%;

}   

.input-usuario p {
    margin: 5px 0; /* Margem acima e abaixo dos parágrafos */
    font-size: 12px;
    font-weight: bold;
    color: var(--cor-2);
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.dark .input-usuario p {
    margin: 5px 0; /* Margem acima e abaixo dos parágrafos */
    font-size: 12px;
    font-weight: bold;
    color: var(--cor-1);
    display: flex;
    align-items: center;
}

.input-css {
    /* padding: 8px; Espaçamento interno dos inputs */
    margin-top: 10px; /* Espaço entre o parágrafo e o input */
    width: 85%;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid var(--cor-6);
    font-size: 13px;
}



.button-usuario {

    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.5s;
}

.dark .button-usuario {
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.5s;
}

.button-edituser-css{
    border: none;
    width: 150px;
    height: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    color: var(--cor-1);
    font-size: 18px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    cursor: pointer;
    -webkit-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);

}

.button-edituser-css:hover{
    border: none;
    width: 170px;
    height: 60px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    color: var(--cor-1);
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    cursor: pointer;
    transition: 0.5s;

}

.button-excluiruser-css{
    border: none;
    width: 150px;
    height: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    color: rgb(121, 0, 0);
    font-size: 18px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    cursor: pointer;
    -webkit-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 23px 32px -15px rgba(0,0,0,0.75);

}



.button-excluiruser-css:hover{
    border: none;
    width: 170px;
    height: 60px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
    color: rgb(121, 0, 0);
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    cursor: pointer;
    transition: 0.5s;


}

.p-direita{
    height: 100%;
    width: 50%;
    background-color: var(--cor-1);
    transition: 0.5s;
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark .p-direita{
    height: 100%;
    width: 50%;
    background-color: var(--cor-2);
    transition: 0.5s;
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px; 
}

.pedidos-usuario{
    width: 90%;
    height: 85%;
    background-color: var(--cor-4);
    overflow: hidden;
    overflow-y: scroll;
    border: 2px solid var(--cor-2);
}

.dark .pedidos-usuario{
    width: 90%;
    height: 85%;
    background-color: var(--cor-4);
    overflow: hidden;
    overflow-y: scroll;
    border: 2px solid var(--cor-1);
}

.pedidos-usuario::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}

.pedidos-usuario::-webkit-scrollbar-thumb{
    background-color: var(--cor-1);
    border-radius: 10px;
}

.titulo-pedidos {
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--cor-2);
    margin: 5px;
}

.dark .titulo-pedidos {
    font-size: 40px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--cor-1);
    margin: 5px;
}





